.DS_Store
*.log
*.in
*.in~
*.o
*.obj
*tlog
*.trs
*.pdb
*.exe
*.lib
*.ilk
*.sdf
*.opensdf
*.idb
*.suo
*.lastbuildstate
*.unsuccessfulbuild
.cache
configure
Makefile
config.h
config.status
LuaCppInterface/.deps
tests/.deps
